[io]
structure_path = D:/Ogre-master/structures/relaxed_structures/HMX_P21N.cif
structure_name = HMX
format = VASP
; Format can be FHI, VASP or CIF

[methods]
cleave_option = 0
;0: cleave a single surface, 1: cleave surfaces for surface energy calculations

[parameters]
layers = 1
; Layers could be specified as combination of start-end or separate numbers by space
vacuum_size = 0
highest_index = 3
; Only needed in cleave_option = 1， ignored in cleave_option = 0
supercell_size = None
miller_index = 1 0 0 
; Only needed in cleave_option = 0, ignored in cleave_option = 1
desired_num_of_molecules_oneLayer = 0
; Set to 0 if you don't want to change one layer structure. Default is 0 (highly recommended)
